@keyframes slideIn {
  from {
    margin-left: -50px;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -50px;
  }
}
